.note {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 500px;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  white-space: pre-wrap;
  /* border: 1px solid red; */
}

.note:hover > .icons {
  visibility: visible;
}

.content-box {
  background: transparent;
  width: 100%;
  /* border: 1px solid blue; */
}

.content-area {
  background: transparent;
  font-family: "Expose", sans-serif;
  font-size: 1rem;
  letter-spacing: 1px;
  resize: none;
  border: none;
}

.content-area:focus {
  outline: none;
}

.icons {
  display: flex;
  width: 20%;
  justify-content: space-between;
  background: transparent;
  margin-top: 10px;
  visibility: hidden;
  /* border: 1px solid yellow; */
}

.delete-icon,
.edit-icon,
.save-icon {
  cursor: pointer;
  background: transparent;
}

.delete-icon:hover,
.edit-icon:hover,
.save-icon:hover {
  scale: 110%;
  transition: scale 0.1s ease-in-out;
}
